<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://sm.ign.com/ign_br/news/m/marvel-cin/marvel-cinematic-universe-assembles-in-epic-10-year-class-ph_fgk1.jpg"
            alt="" height="200px">
    </div>
    <div class="big-card__title">
        <h1><a href="#">SAIU A NOVA VERSÃO DO ANGULAR</a></h1>
    </div>
    <div class="big-card__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non et nobis dolorum reiciendis ipsa, molestias
            atque expedita libero omnis maxime, ad voluptate quod iure dignissimos esse possimus exercitationem. Alias,
            beatae.</p>
    </div>
</div>